// Colors
$brand-primary: #5b4681;
$grey: #dddddd;
$white: #ffffff;
$lightGray: #f9f9f9;
$darkGray: #777777;

// Spacing
$space: 1.4rem;
$site-max-width: 50rem;

// Font sizes
$base-font-size: 1.4rem;
$large-font-size: 1.8rem;

// Form inputs
$input-border: $grey;
$input-spacing: 1rem;

// Boxed view
$boxed-view-overlay-bg: $grey;
$boxed-view-bg: $white;

// Button

$button-bg: $brand-primary;
$button-color: $white;
$button-pill-color: $brand-primary;
$button-secondary-bg: $lightGray;
$button-secondary-color: $darkGray;
$button-secondary-border-color: $grey;

// Header
$header-bg: $brand-primary;
$header-color: $grey;

// Item
$item-bg: $lightGray;
$item-border: darken($item-bg, 8%);
$item-text-color: $darkGray;
