.boxed-view {
    align-items: center;
    background-color: $boxed-view-overlay-bg;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.boxed-view--modal {
    background: fade-out($boxed-view-overlay-bg, 0.3);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

.boxed-view__box {
    background-color: $boxed-view-bg;
    padding: 2.4rem;
    text-align: center;
    width: 24rem;
}

.boxed-view__form {
    display: flex;
    flex-direction: column;
}
